/* .Product {
  width: 100vw;
  display: flex;
  justify-content: center;
} */

.Product-top {
  display: flex;
  justify-content: center;
}

.Product-image {
  /* width: 420px; */
  width: 100%;
}

.Product-bottom {
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .Product-bottom {
    padding: 2rem 2rem;
  }
}
