.AddressForm h4 {
  margin-top: 2rem;
}

.AddressForm-form {
  margin-top: 2rem;
}

.AddressForm-submit-btn {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  background: black;
  color: white;
  font-weight: 600;
  border: none;
}

.AddressForm-submit-btn:hover {
  cursor: pointer;
}

.AddressForm-submit {
  margin-top: 2rem;
}

.AddressForm-submit svg {
  color: black;
  margin-right: 2rem;
}
