.AllProductsPage {
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.AllProductsPage-container {
  width: 100%;
  min-height: 80vh;
  max-width: 1400px;
}

.AllProductsPage-container-head {
  margin-top: 2rem;
}

.AllProductsPage-container-body {
  margin-top: 6rem;
}
