.CartPage {
  width: 100vw;
  min-height: 80vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CartPage h1 {
  margin-top: 2rem;
}

.CartPage-container {
  width: 100%;
  max-width: 1400px;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.CartPage-container-left {
  width: 70%;
}

.CartPage-container-right {
  width: 30%;
}

.CartPage-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CartPage-empty a {
  padding: 0;
  margin-top: 2rem;
  border: none;
  outline: none;
  position: relative;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    yellow,
    orange,
    red,
    violet,
    purple,
    blue,
    yellow
  );
  background-size: 400%;
  z-index: 1;
}

.CartPage-empty a {
  animation: animate 18s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@-moz-keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@-webkit-keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.CartPage-empty a:hover {
  cursor: pointer;
}

.CartPage-empty a:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(45deg, #f15523, #ef3224, #7c3697);
  background-size: 400%;
  opacity: 0;
  transition: 0.5%;
}

.CartPage-empty a:hover:before {
  filter: blur(20px);
  -webkit-filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

.CartPage-info {
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid green;
  box-shadow: 0 10px 10px rgba(0, 255, 0, 0.15);
}

.CartPage-info-top {
  border-bottom: 1px solid rgba(0, 255, 0, 0.15);
}

.CartPage-info-top p {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.CartPage-info-middle {
  margin-top: 4rem;
}

.CartPage-info-middle p {
  text-align: right;
}

.CartPage-note {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.85);
  margin-top: 4rem;
  text-align: left !important;
}

.CartPage-note:last-child {
  margin-top: 1rem;
}

.CartPage-btn {
  padding: 0;
  margin-top: 4rem;
  border: none;
  outline: none;
  position: relative;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    yellow,
    orange,
    red,
    violet,
    purple,
    blue,
    yellow
  );
  background-size: 400%;
  z-index: 1;
}

.CartPage-btn {
  animation: animate 18s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@-moz-keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@-webkit-keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.CartPage-btn:hover {
  cursor: pointer;
}

.CartPage-btn:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(45deg, #f15523, #ef3224, #7c3697);
  background-size: 400%;
  opacity: 0;
  transition: 0.5%;
}

.CartPage-btn:hover:before {
  filter: blur(20px);
  -webkit-filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

.CartPage-btn-remove {
  width: 120px;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  text-align: center;
  border: 1px solid green;
  opacity: 0.75;
}

.CartPage-btn-remove:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .CartPage h1 {
    margin-top: 1rem;
  }

  .CartPage-container {
    flex-direction: column;
    align-items: center;
  }

  .CartPage-container-left {
    width: 100%;
  }

  .CartPage-container-right {
    width: 100%;
  }

  .CartPage-info-middle p {
    text-align: left;
  }
}
