.Navbar {
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 255, 0, 0.25);
}

.Navbar-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-container-center a {
  margin-right: 2rem;
}

/* .Navbar-container-right a {
  position: relative;
}

.Navbar-container-right a p {
  position: absolute;
  top: -10%;
  left: 29%;
  color: darkred;
  font-size: 1.25rem;
  font-weight: 600;
} */

.Navbar-container-right a {
  display: flex;
  align-items: center;
}

.Navbar-container-right a p {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
