@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Stalinist+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  background: #111111;
  color: rgba(0, 255, 0, 1);
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: rgba(0, 255, 0, 1);
}

h1 {
  font-weight: 600;
}
